USE [master]
GO
/****** Object:  Database [TTCN]    Script Date: 21/06/2023 14:45:21 ******/
CREATE DATABASE [TTCN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTCN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TTCN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTCN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TTCN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTCN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTCN]
GO
/****** Object:  UserDefinedFunction [dbo].[add_table]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[add_table] ()
returns @newtable table (MA_SAN_PHAM varchar(20), SO_LUONG_NHAP INT , SO_LUONG_TON INT, SO_LUONG_XUAT INT,  SO_SANH nvarchar(100))
as 
begin
INSERT INTO @newtable (MA_SAN_PHAM) select MA_SAN_PHAM FROM CHI_TIET_PHIEU_NHAP group by MA_SAN_PHAM order by MA_SAN_PHAM asc
INSERT INTO @newtable (SO_LUONG_NHAP) select sum(SO_LUONG) from  CHI_TIET_PHIEU_NHAP  group by MA_SAN_PHAM order by MA_SAN_PHAM asc
INSERT INTO @newtable (SO_LUONG_TON) SELECT SO_LUONG FROM SAN_PHAM order by MA_SAN_PHAM asc
INSERT INTO @newtable (SO_LUONG_XUAT)select sum(SO_LUONG) from  CHI_TIET_PHIEU_XUAT  group by MA_SAN_PHAM order by MA_SAN_PHAM asc
return
end
GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchCTHoaDon]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Func_SearchCTHoaDon] (@StringSeach nvarchar(250))
returns @newtable table (MA_HOA_DON varchar(15) ,MA_SAN_PHAM varchar(15),SO_LUONG INT,GIA_BAN INT)
as 
begin
   declare search cursor for  SELECT MA_HOA_DON ,MA_SAN_PHAM ,SO_LUONG,GIA_BAN  FROM CHI_TIET_HOA_DON	
open search
   declare @chuoiCha nvarchar(350)
   declare @MAHD varchar(15),@MASP varchar(15), @SL INT, @GIABAN INT
   declare @result int
fetch next from search  into @MAHD ,@MASP , @SL , @GIABAN 
while @@FETCH_STATUS=0
begin
   set @chuoiCha= CONCAT(@MAHD ,@MASP , @SL , @GIABAN);
   set @result= ( SELECT CHARINDEX(@StringSeach, @chuoiCha))
	   begin
	      if(@result!=0)
		     begin
			        insert into @newtable values (@MAHD ,@MASP , @SL , @GIABAN )
			 end
	   end
	   set @chuoiCha=''
	   set @result=''
   fetch next from search  into @MAHD ,@MASP , @SL , @GIABAN  
 end
 CLOSE search
 deallocate search

 return
 end
GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchCTPhieunhap]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Func_SearchCTPhieunhap] (@StringSeach nvarchar(250))
returns @newtable table (MA_CHI_TIET_PHIEU_NHAP varchar(15),MA_PHIEU_NHAP varchar(15) ,MA_SAN_PHAM varchar(15),SO_LUONG int,DON_GIA_NHAP money)
as 
begin
   declare search cursor for  SELECT MA_CHI_TIET_PHIEU_NHAP,  MA_PHIEU_NHAP ,MA_SAN_PHAM ,SO_LUONG,DON_GIA_NHAP  FROM CHI_TIET_PHIEU_NHAP	
open search
   declare @chuoiCha nvarchar(350)
   declare @MACTPN varchar(15), @MAPN varchar(15),@MASP varchar(15), @SL INT, @GIANHAP MONEY
   declare @result int
fetch next from search  into @MACTPN, @MASP ,@MASP , @SL , @GIANHAP 
while @@FETCH_STATUS=0
begin
   set @chuoiCha= CONCAT(@MACTPN,@MASP ,@MASP , @SL , @GIANHAP);
   set @result= ( SELECT CHARINDEX(@StringSeach, @chuoiCha))
	   begin
	      if(@result!=0)
		     begin
			        insert into @newtable values (@MACTPN,@MASP ,@MASP , @SL , @GIANHAP)
			 end
	   end
	   set @chuoiCha=''
	   set @result=''
   fetch next from search  into @MACTPN, @MASP ,@MASP , @SL , @GIANHAP   
 end
 CLOSE search
 deallocate search

 return
 end
GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchCTPhieuXuat]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Func_SearchCTPhieuXuat] (@StringSeach nvarchar(250))
returns @newtable table (MA_PHIEU_XUAT varchar(15) ,MA_SAN_PHAM varchar(15),SO_LUONG int)
as 
begin
   declare search cursor for  SELECT MA_PHIEU_XUAT ,MA_SAN_PHAM ,SO_LUONG  FROM CHI_TIET_PHIEU_XUAT	
open search
   declare @chuoiCha nvarchar(350)
   declare @MAPX varchar(15),@MASP varchar(15), @SL INT
   declare @result int
fetch next from search  into @MAPX,@MASP  , @SL
while @@FETCH_STATUS=0
begin
   set @chuoiCha= CONCAT(@MAPX ,@MASP , @SL );
   set @result= ( SELECT CHARINDEX(@StringSeach, @chuoiCha))
	   begin
	      if(@result!=0)
		     begin
			        insert into @newtable values (@MAPX,@MASP  , @SL)
			 end
	   end
	   set @chuoiCha=''
	   set @result=''
   fetch next from search  into @MAPX,@MASP  , @SL 
 end
 CLOSE search
 deallocate search

 return
 end
GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchHoaDon]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Func_SearchHoaDon] (@StringSeach nvarchar(250))
returns @newtable table (MA_HOA_DON varchar(15) ,NGAY_LAP varchar(30),MA_KHACH_HANG varchar(15),MA_NHAN_VIEN_KINH_DOANH VARCHAR(15),MA_NHAN_VIEN_KE_TOAN VARCHAR(15))
as 
begin
   declare search cursor for  SELECT MA_HOA_DON , CAST(NGAY_LAP as varchar) ,MA_KHACH_HANG,MA_NHAN_VIEN_KINH_DOANH,MA_NHAN_VIEN_KE_TOAN  FROM HOA_DON	
open search
   declare @chuoiCha nvarchar(350)
   declare @MAHD varchar(15),@TIME DATETIME, @MAKH varchar(15), @MANVKD VARCHAR(15),@MANVKT VARCHAR(15)
   declare @result int
fetch next from search  into @MAHD ,@TIME , @MAKH , @MANVKD ,@MANVKT 
while @@FETCH_STATUS=0
begin
   set @chuoiCha= CONCAT(@MAHD ,@TIME , @MAKH , @MANVKD ,@MANVKT );
   set @result= ( SELECT CHARINDEX(@StringSeach, @chuoiCha))
	   begin
	      if(@result!=0)
		     begin
			        insert into @newtable values (@MAHD ,@TIME , @MAKH , @MANVKD ,@MANVKT )
			 end
	   end
	   set @chuoiCha=''
	   set @result=''
   fetch next from search  into @MAHD ,@TIME , @MAKH , @MANVKD ,@MANVKT
 end
 CLOSE search
 deallocate search

 return
 end
GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchLichSU]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[Func_SearchLichSU] (@StringSeach nvarchar(250))
returns @newtable table (STT int ,TEN_THAY_DOI Nvarchar(90),BANG_THAY_DOI varchar(50),NDC VARCHAR(450),NDM nVARCHAR(450),MA_NGUOI_DUNG VARCHAR(20),TIME varchar(50))
as 
begin
   declare search cursor for  SELECT MA_THAY_DOI ,CAST(TEN_THAY_DOI AS NVARCHAR),BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,CAST(THOI_GIAN AS VARCHAR) FROM CHANGE	
open search
   declare @chuoiCha nvarchar(350)
   declare @MATD int,@TENTD nvarchar(90), @BTD varchar(25), @NDC NVARCHAR(450),@NDM NVARCHAR(450),@NANV VARCHAR(20), @TIME VARCHAR(50)
   declare @result int
fetch next from search  into @MATD ,@TENTD , @BTD , @NDC ,@NDM,@NANV,@TIME
while @@FETCH_STATUS=0
begin
   set @chuoiCha= CONCAT(@MATD ,CAST(@TENTD as nvarchar(max) ), @BTD , @NDC ,@NDM,@NANV,@TIME);
   set @result= ( SELECT CHARINDEX(@StringSeach, @chuoiCha))
	   begin
	      if(@result!=0)
		     begin
			        insert into @newtable values (@MATD ,@TENTD , @BTD , @NDC ,@NDM,@NANV,@TIME)
			 end
	   end
	   set @chuoiCha=''
	   set @result=''
   fetch next from search  into @MATD ,@TENTD , @BTD , @NDC ,@NDM,@NANV,@TIME
 end
 CLOSE search
 deallocate search

 return
 end


GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchPHIEUXUAT]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Func_SearchPHIEUXUAT] (@StringSeach nvarchar(250))
returns @newtable table (MA_PHIEU_XUAT varchar(15) ,NGAY_XUAT nvarchar(20),MA_NHAN_VIEN_KHO varchar(15),MA_NHAN_VIEN_KINH_DOANH VARCHAR(15))
as 
begin
   declare search cursor for  SELECT MA_PHIEU_XUAT ,CAST(NGAY_XUAT as nvarchar) ,MA_NHAN_VIEN_KHO,MA_NHAN_VIEN_KINH_DOANH  FROM PHIEU_XUAT	
open search
   declare @chuoiCha nvarchar(350)
   declare @MAPX varchar(15),@TIME date, @MANVK varchar(15), @MANVKD VARCHAR(15)
   declare @result int
fetch next from search  into @MAPX ,@TIME , @MANVK , @MANVKD  
while @@FETCH_STATUS=0
begin
   set @chuoiCha= CONCAT(@MAPX ,@TIME , @MANVK , @MANVKD );
   set @result= ( SELECT CHARINDEX(@StringSeach, @chuoiCha))
	   begin
	      if(@result!=0)
		     begin
			        insert into @newtable values (@MAPX ,@TIME , @MANVK , @MANVKD  )
			 end
	   end
	   set @chuoiCha=''
	   set @result=''
   fetch next from search  into @MAPX ,@TIME , @MANVK , @MANVKD 
 end
 CLOSE search
 deallocate search

 return
 end
GO
/****** Object:  UserDefinedFunction [dbo].[User_login]    Script Date: 21/06/2023 14:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[User_login](@UserName varchar(15), @PassWord varchar(15))
returns bit
as
begin
  declare @record int;
  select @record= COUNT(*) from NGUOI_DUNG where MA_NGUOI_DUNG=@UserName and MAT_KHAU=@PassWord;
  if(@record=1)
    begin
      return 1;
    end
return 0;
end
GO
/****** Object:  Table [dbo].[CHANGE]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGE](
	[MA_THAY_DOI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_THAY_DOI] [nvarchar](60) NULL,
	[BANG_THAY_DOI] [nvarchar](150) NULL,
	[NOI_DUNG_CU] [nvarchar](350) NULL,
	[NOI_DUNG_MOI] [nvarchar](350) NULL,
	[MA_NGUOI_DUNG] [varchar](15) NOT NULL,
	[THOI_GIAN] [datetime] NULL,
 CONSTRAINT [PK_CHANGE] PRIMARY KEY CLUSTERED 
(
	[MA_THAY_DOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET](
	[MA_CHI_TIET] [varchar](15) NOT NULL,
	[TEN_CHI_TIET] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[MA_CHI_TIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_HOA_DON] [varchar](15) NOT NULL,
	[MA_SAN_PHAM] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[GIA_BAN] [bigint] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_HOA_DON_1] PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC,
	[MA_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MA_CHI_TIET_PHIEU_NHAP] [varchar](15) NOT NULL,
	[MA_PHIEU_NHAP] [varchar](15) NOT NULL,
	[MA_SAN_PHAM] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA_NHAP] [bigint] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_CHI_TIET_PHIEU_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_XUAT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_XUAT](
	[MA_PHIEU_XUAT] [varchar](15) NOT NULL,
	[MA_SAN_PHAM] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_XUAT_1] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_XUAT] ASC,
	[MA_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[MA_SAN_PHAM] [varchar](15) NOT NULL,
	[MA_CHI_TIET] [varchar](15) NOT NULL,
	[CHI_TIET_VALUES] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SAN_PHAM] ASC,
	[MA_CHI_TIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_NANG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_NANG](
	[MA_CHUC_NANG] [varchar](15) NOT NULL,
	[TEN_CHUC_NANG] [nvarchar](150) NULL,
	[MA_NHOM_QUYEN] [varchar](10) NOT NULL,
	[MO_TA] [nvarchar](150) NULL,
 CONSTRAINT [PK_CHUC_NANG] PRIMARY KEY CLUSTERED 
(
	[MA_CHUC_NANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_NANG_VAI_TRO]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_NANG_VAI_TRO](
	[MA_VAI_TRO] [varchar](15) NOT NULL,
	[MA_CHUC_NANG] [varchar](15) NOT NULL,
 CONSTRAINT [PK_CHUC_NANG_VAI_TRO] PRIMARY KEY CLUSTERED 
(
	[MA_VAI_TRO] ASC,
	[MA_CHUC_NANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HOA_DON] [varchar](15) NOT NULL,
	[NGAY_LAP] [date] NOT NULL,
	[MA_KHACH_HANG] [varchar](15) NOT NULL,
	[MA_NHAN_VIEN_KINH_DOANH] [varchar](15) NOT NULL,
	[MA_NHAN_VIEN_KE_TOAN] [varchar](15) NOT NULL,
	[TONG_TIEN] [bigint] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KHACH_HANG] [varchar](15) NOT NULL,
	[HO_TEN] [nvarchar](150) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DIA_CHI] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KHACH_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[MA_NGUOI_DUNG] [varchar](15) NOT NULL,
	[TEN_NGUOI_DUNG] [nvarchar](150) NOT NULL,
	[MAT_KHAU] [varchar](150) NOT NULL,
 CONSTRAINT [PK__NGUOI_DU__F87F53B7816B550D] PRIMARY KEY CLUSTERED 
(
	[MA_NGUOI_DUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MA_NHA_CUNG_CAP] [varchar](15) NOT NULL,
	[TEN_NHA_CUNG_CAP] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MA_NHA_CUNG_CAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOM_QUYEN]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_QUYEN](
	[MA_NHOM_QUYEN] [varchar](10) NOT NULL,
	[TEN_NHOM_QUYEN] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NHOM_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MA_PHIEU_NHAP] [varchar](15) NOT NULL,
	[NGAY_NHAP] [date] NOT NULL,
	[MA_NHA_CUNG_CAP] [varchar](15) NOT NULL,
	[MA_NHAN_VIEN_KHO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_PHIEU_NHAP_1] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[MA_PHIEU_XUAT] [varchar](15) NOT NULL,
	[NGAY_XUAT] [date] NOT NULL,
	[MA_NHAN_VIEN_KHO] [varchar](15) NOT NULL,
	[MA_NHAN_VIEN_KINH_DOANH] [varchar](15) NOT NULL,
 CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_XUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SAN_PHAM] [varchar](15) NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](250) NOT NULL,
	[GIA_NHAP] [int] NULL,
	[GIA_NIEM_YET] [int] NULL,
	[SO_LUONG] [int] NULL,
	[MA_NHA_CUNG_CAP] [varchar](15) NOT NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAI_TRO]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO](
	[MA_VAI_TRO] [varchar](15) NOT NULL,
	[TEN_VAI_TRO] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_VAI_TRO] PRIMARY KEY CLUSTERED 
(
	[MA_VAI_TRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAI_TRO_NGUOI_DUNG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO_NGUOI_DUNG](
	[MA_VAI_TRO] [varchar](15) NOT NULL,
	[MA_NGUOI_DUNG] [varchar](15) NOT NULL,
 CONSTRAINT [PK_VAI_TRO_NGUOI_DUNG] PRIMARY KEY CLUSTERED 
(
	[MA_VAI_TRO] ASC,
	[MA_NGUOI_DUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHANGE] ON 

INSERT [dbo].[CHANGE] ([MA_THAY_DOI], [TEN_THAY_DOI], [BANG_THAY_DOI], [NOI_DUNG_CU], [NOI_DUNG_MOI], [MA_NGUOI_DUNG], [THOI_GIAN]) VALUES (547, N'xóa', N'NGUOI_DUNG', N'user_BUSM_02 |  bernaldo silva |  124 |  ', N' ', N'user_HR_01', CAST(N'2023-05-24T10:39:08.197' AS DateTime))
INSERT [dbo].[CHANGE] ([MA_THAY_DOI], [TEN_THAY_DOI], [BANG_THAY_DOI], [NOI_DUNG_CU], [NOI_DUNG_MOI], [MA_NGUOI_DUNG], [THOI_GIAN]) VALUES (548, N'sửa', N'NGUOI_DUNG', N'user_STKE_01 |  naruto |  genin', N'user_STKE_02 |  naruto |  genin', N'user_HR_01', CAST(N'2023-05-24T10:39:17.440' AS DateTime))
INSERT [dbo].[CHANGE] ([MA_THAY_DOI], [TEN_THAY_DOI], [BANG_THAY_DOI], [NOI_DUNG_CU], [NOI_DUNG_MOI], [MA_NGUOI_DUNG], [THOI_GIAN]) VALUES (549, N'sửa', N'SAN_PHAM', N'DAH-1016  |  DAH 1016 | Máy Chấm Công Nhận Diện Khuôn Mặt | 4999999 | 9999999 | 3 | NCC1', N'DAH-1016  |  DAH 1016 | Máy Chấm Công Nhận Diện Khuôn Mặt  |  5999999  |  9999999  |  3  |  NCC1', N'user_STKE_02', CAST(N'2023-05-24T11:03:40.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[CHANGE] OFF
GO
INSERT [dbo].[CHI_TIET] ([MA_CHI_TIET], [TEN_CHI_TIET]) VALUES (N'A', N'Bộ chíp xử lí')
INSERT [dbo].[CHI_TIET] ([MA_CHI_TIET], [TEN_CHI_TIET]) VALUES (N'B', N'Hệ điều hành')
INSERT [dbo].[CHI_TIET] ([MA_CHI_TIET], [TEN_CHI_TIET]) VALUES (N'C', N'Độ chính xác nhận diện')
GO
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_HOA_DON], [MA_SAN_PHAM], [SO_LUONG], [GIA_BAN]) VALUES (N'HD001', N'DAH-1002', 2, 20000000)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_HOA_DON], [MA_SAN_PHAM], [SO_LUONG], [GIA_BAN]) VALUES (N'HD001', N'DAH-1003', 2, 13000000)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_HOA_DON], [MA_SAN_PHAM], [SO_LUONG], [GIA_BAN]) VALUES (N'HD001', N'DAH-1005', 4, 16000000)
GO
INSERT [dbo].[CHI_TIET_PHIEU_NHAP] ([MA_CHI_TIET_PHIEU_NHAP], [MA_PHIEU_NHAP], [MA_SAN_PHAM], [SO_LUONG], [DON_GIA_NHAP]) VALUES (N'CTPN001_1', N'PN001', N'DAH-1005', 41, 30000000)
INSERT [dbo].[CHI_TIET_PHIEU_NHAP] ([MA_CHI_TIET_PHIEU_NHAP], [MA_PHIEU_NHAP], [MA_SAN_PHAM], [SO_LUONG], [DON_GIA_NHAP]) VALUES (N'CTPN001_2', N'PN001', N'DAH-1016', 6, 4999999)
INSERT [dbo].[CHI_TIET_PHIEU_NHAP] ([MA_CHI_TIET_PHIEU_NHAP], [MA_PHIEU_NHAP], [MA_SAN_PHAM], [SO_LUONG], [DON_GIA_NHAP]) VALUES (N'CTPN002_1', N'PN002', N'DAH-1003', 3, 9000000)
GO
INSERT [dbo].[CHI_TIET_PHIEU_XUAT] ([MA_PHIEU_XUAT], [MA_SAN_PHAM], [SO_LUONG]) VALUES (N'PX001', N'DAH-1002', 2)
INSERT [dbo].[CHI_TIET_PHIEU_XUAT] ([MA_PHIEU_XUAT], [MA_SAN_PHAM], [SO_LUONG]) VALUES (N'PX001', N'DAH-1005', 4)
INSERT [dbo].[CHI_TIET_PHIEU_XUAT] ([MA_PHIEU_XUAT], [MA_SAN_PHAM], [SO_LUONG]) VALUES (N'PX002', N'DAH-1003', 2)
GO
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_SAN_PHAM], [MA_CHI_TIET], [CHI_TIET_VALUES]) VALUES (N'DAH-1002', N'A', N'ARM Cortex-A7，@')
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_SAN_PHAM], [MA_CHI_TIET], [CHI_TIET_VALUES]) VALUES (N'DAH-1002', N'B', N' Linux, MTBF> 5')
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_SAN_PHAM], [MA_CHI_TIET], [CHI_TIET_VALUES]) VALUES (N'DAH-1002', N'C', N' Chính xác 99,9')
GO
INSERT [dbo].[CHUC_NANG] ([MA_CHUC_NANG], [TEN_CHUC_NANG], [MA_NHOM_QUYEN], [MO_TA]) VALUES (N'ACC001', N'cập nhập hóa đơn', N'ACC', N'thêm, sửa, xóa')
INSERT [dbo].[CHUC_NANG] ([MA_CHUC_NANG], [TEN_CHUC_NANG], [MA_NHOM_QUYEN], [MO_TA]) VALUES (N'ACC002', N'xem hóa đơn', N'ACC', N'xem hóa đơn')
INSERT [dbo].[CHUC_NANG] ([MA_CHUC_NANG], [TEN_CHUC_NANG], [MA_NHOM_QUYEN], [MO_TA]) VALUES (N'BUS001', N'cập nhập nhà cung cấp', N'BUS', N'thêm, sửa, xóa nhà cung cấp')
GO
INSERT [dbo].[CHUC_NANG_VAI_TRO] ([MA_VAI_TRO], [MA_CHUC_NANG]) VALUES (N'ACC_EMY', N'ACC001')
INSERT [dbo].[CHUC_NANG_VAI_TRO] ([MA_VAI_TRO], [MA_CHUC_NANG]) VALUES (N'ACC_EMY', N'ACC002')
INSERT [dbo].[CHUC_NANG_VAI_TRO] ([MA_VAI_TRO], [MA_CHUC_NANG]) VALUES (N'ACC_EMY', N'BUS002')
GO
INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [NGAY_LAP], [MA_KHACH_HANG], [MA_NHAN_VIEN_KINH_DOANH], [MA_NHAN_VIEN_KE_TOAN], [TONG_TIEN]) VALUES (N'HD001', CAST(N'2023-05-22' AS Date), N'KH001', N'user_BUSE_01', N'user_ACC_01', 184000000)
INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [NGAY_LAP], [MA_KHACH_HANG], [MA_NHAN_VIEN_KINH_DOANH], [MA_NHAN_VIEN_KE_TOAN], [TONG_TIEN]) VALUES (N'HD002', CAST(N'2023-05-29' AS Date), N'KH002', N'user_BUSE_01', N'user_DIR_001', 2100000)
GO
INSERT [dbo].[KHACH_HANG] ([MA_KHACH_HANG], [HO_TEN], [SDT], [DIA_CHI]) VALUES (N'KH001', N'hà huy kiệt', N'0587784504', N'BÌNH NGHĨA, BÌNH LỤC,HÀ NAM')
INSERT [dbo].[KHACH_HANG] ([MA_KHACH_HANG], [HO_TEN], [SDT], [DIA_CHI]) VALUES (N'KH002', N'anh Kiệt        ', N'098765332', N'41 Trường Chinh, Thanh Xuân, HN')
INSERT [dbo].[KHACH_HANG] ([MA_KHACH_HANG], [HO_TEN], [SDT], [DIA_CHI]) VALUES (N'KH003', N'Bernaldo Silva', N'0987654323', N'Manchester City')
GO
INSERT [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG], [TEN_NGUOI_DUNG], [MAT_KHAU]) VALUES (N'', N'', N'')
INSERT [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG], [TEN_NGUOI_DUNG], [MAT_KHAU]) VALUES (N'user_ACC_01', N'Nuyễn văn Nhi', N'acddd')
INSERT [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG], [TEN_NGUOI_DUNG], [MAT_KHAU]) VALUES (N'user_BUSE_01', N'Tào a Phó', N'123456')
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MA_NHA_CUNG_CAP], [TEN_NHA_CUNG_CAP]) VALUES (N'NCC1', N'HHK')
INSERT [dbo].[NHA_CUNG_CAP] ([MA_NHA_CUNG_CAP], [TEN_NHA_CUNG_CAP]) VALUES (N'NCC2', N'BTN')
INSERT [dbo].[NHA_CUNG_CAP] ([MA_NHA_CUNG_CAP], [TEN_NHA_CUNG_CAP]) VALUES (N'NCC3', N'CTC')
GO
INSERT [dbo].[NHOM_QUYEN] ([MA_NHOM_QUYEN], [TEN_NHOM_QUYEN]) VALUES (N'ACC', N'Kế toán')
INSERT [dbo].[NHOM_QUYEN] ([MA_NHOM_QUYEN], [TEN_NHOM_QUYEN]) VALUES (N'ADM', N'quản trị')
INSERT [dbo].[NHOM_QUYEN] ([MA_NHOM_QUYEN], [TEN_NHOM_QUYEN]) VALUES (N'BUS', N'kinh doanh')
GO
INSERT [dbo].[PHIEU_NHAP] ([MA_PHIEU_NHAP], [NGAY_NHAP], [MA_NHA_CUNG_CAP], [MA_NHAN_VIEN_KHO]) VALUES (N'PN001', CAST(N'2023-05-22' AS Date), N'NCC1', N'user_STKM_01')
INSERT [dbo].[PHIEU_NHAP] ([MA_PHIEU_NHAP], [NGAY_NHAP], [MA_NHA_CUNG_CAP], [MA_NHAN_VIEN_KHO]) VALUES (N'PN002', CAST(N'2023-05-21' AS Date), N'NCC3', N'user_DIR_001')
INSERT [dbo].[PHIEU_NHAP] ([MA_PHIEU_NHAP], [NGAY_NHAP], [MA_NHA_CUNG_CAP], [MA_NHAN_VIEN_KHO]) VALUES (N'PN003', CAST(N'2023-05-18' AS Date), N'NCC2', N'user_DIR_001')
GO
INSERT [dbo].[PHIEU_XUAT] ([MA_PHIEU_XUAT], [NGAY_XUAT], [MA_NHAN_VIEN_KHO], [MA_NHAN_VIEN_KINH_DOANH]) VALUES (N'PX001', CAST(N'2023-05-22' AS Date), N'user_DIR_001', N'user_BUSE_01')
INSERT [dbo].[PHIEU_XUAT] ([MA_PHIEU_XUAT], [NGAY_XUAT], [MA_NHAN_VIEN_KHO], [MA_NHAN_VIEN_KINH_DOANH]) VALUES (N'PX002', CAST(N'2023-05-22' AS Date), N'user_DIR_001', N'user_BUSM_01')
INSERT [dbo].[PHIEU_XUAT] ([MA_PHIEU_XUAT], [NGAY_XUAT], [MA_NHAN_VIEN_KHO], [MA_NHAN_VIEN_KINH_DOANH]) VALUES (N'PX003', CAST(N'2023-05-29' AS Date), N'user_DIR_001', N'user_BUSE_01')
GO
INSERT [dbo].[SAN_PHAM] ([MA_SAN_PHAM], [TEN_SAN_PHAM], [GIA_NHAP], [GIA_NIEM_YET], [SO_LUONG], [MA_NHA_CUNG_CAP]) VALUES (N'DAH-1002', N'Thiết bị nhận diện khuôn mặt AI
Model: DAH-1002', 8000000, 14000000, 1, N'NCCK')
INSERT [dbo].[SAN_PHAM] ([MA_SAN_PHAM], [TEN_SAN_PHAM], [GIA_NHAP], [GIA_NIEM_YET], [SO_LUONG], [MA_NHA_CUNG_CAP]) VALUES (N'DAH-1003', N'Thiết bị nhận diện khuôn mặt AI
Model: DAH-1003', 9000000, 15000000, 1, N'NCC3')
INSERT [dbo].[SAN_PHAM] ([MA_SAN_PHAM], [TEN_SAN_PHAM], [GIA_NHAP], [GIA_NIEM_YET], [SO_LUONG], [MA_NHA_CUNG_CAP]) VALUES (N'DAH-1005', N'Thiết bị nhận diện khuôn mặt AI
Model: DAH-1005', 300000000, 5500000, 36, N'NCC1')
GO
INSERT [dbo].[VAI_TRO] ([MA_VAI_TRO], [TEN_VAI_TRO]) VALUES (N'ACC_EMY', N'nhân viên kế toán')
INSERT [dbo].[VAI_TRO] ([MA_VAI_TRO], [TEN_VAI_TRO]) VALUES (N'BUS_EMY', N'nhân viên kinh doanh')
INSERT [dbo].[VAI_TRO] ([MA_VAI_TRO], [TEN_VAI_TRO]) VALUES (N'BUS_MGR', N'trưởng phòng kinh doanh')
GO
INSERT [dbo].[VAI_TRO_NGUOI_DUNG] ([MA_VAI_TRO], [MA_NGUOI_DUNG]) VALUES (N'ACC_EMY', N'user_ACC_01')
INSERT [dbo].[VAI_TRO_NGUOI_DUNG] ([MA_VAI_TRO], [MA_NGUOI_DUNG]) VALUES (N'BUS_EMY', N'user_BUSE_01')
INSERT [dbo].[VAI_TRO_NGUOI_DUNG] ([MA_VAI_TRO], [MA_NGUOI_DUNG]) VALUES (N'BUS_EMY', N'user_HR_01')
GO
ALTER TABLE [dbo].[CHANGE]  WITH CHECK ADD  CONSTRAINT [FK_CHANGE_NGUOI_DUNG] FOREIGN KEY([MA_NGUOI_DUNG])
REFERENCES [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG])
GO
ALTER TABLE [dbo].[CHANGE] CHECK CONSTRAINT [FK_CHANGE_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH NOCHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON] FOREIGN KEY([MA_HOA_DON])
REFERENCES [dbo].[HOA_DON] ([MA_HOA_DON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH NOCHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_SAN_PHAM] FOREIGN KEY([MA_SAN_PHAM])
REFERENCES [dbo].[SAN_PHAM] ([MA_SAN_PHAM])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] NOCHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP] FOREIGN KEY([MA_PHIEU_NHAP])
REFERENCES [dbo].[PHIEU_NHAP] ([MA_PHIEU_NHAP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_PHIEU_XUAT] FOREIGN KEY([MA_PHIEU_XUAT])
REFERENCES [dbo].[PHIEU_XUAT] ([MA_PHIEU_XUAT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_PHIEU_XUAT]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_SAN_PHAM] FOREIGN KEY([MA_SAN_PHAM])
REFERENCES [dbo].[SAN_PHAM] ([MA_SAN_PHAM])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_CHI_TIET] FOREIGN KEY([MA_CHI_TIET])
REFERENCES [dbo].[CHI_TIET] ([MA_CHI_TIET])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_CHI_TIET]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM] FOREIGN KEY([MA_SAN_PHAM])
REFERENCES [dbo].[SAN_PHAM] ([MA_SAN_PHAM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHUC_NANG]  WITH CHECK ADD  CONSTRAINT [FK_CHUC_NANG_NHOM_QUYEN] FOREIGN KEY([MA_NHOM_QUYEN])
REFERENCES [dbo].[NHOM_QUYEN] ([MA_NHOM_QUYEN])
GO
ALTER TABLE [dbo].[CHUC_NANG] CHECK CONSTRAINT [FK_CHUC_NANG_NHOM_QUYEN]
GO
ALTER TABLE [dbo].[CHUC_NANG_VAI_TRO]  WITH CHECK ADD  CONSTRAINT [FK_CHUC_NANG_VAI_TRO_CHUC_NANG] FOREIGN KEY([MA_CHUC_NANG])
REFERENCES [dbo].[CHUC_NANG] ([MA_CHUC_NANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHUC_NANG_VAI_TRO] CHECK CONSTRAINT [FK_CHUC_NANG_VAI_TRO_CHUC_NANG]
GO
ALTER TABLE [dbo].[CHUC_NANG_VAI_TRO]  WITH CHECK ADD  CONSTRAINT [FK_CHUC_NANG_VAI_TRO_VAI_TRO] FOREIGN KEY([MA_VAI_TRO])
REFERENCES [dbo].[VAI_TRO] ([MA_VAI_TRO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHUC_NANG_VAI_TRO] CHECK CONSTRAINT [FK_CHUC_NANG_VAI_TRO_VAI_TRO]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH NOCHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([MA_KHACH_HANG])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HOA_DON] NOCHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NGUOI_DUNG] FOREIGN KEY([MA_NHAN_VIEN_KHO])
REFERENCES [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG])
ON UPDATE CASCADE
ON DELETE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PHIEU_NHAP] NOCHECK CONSTRAINT [FK_PHIEU_NHAP_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MA_NHA_CUNG_CAP])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MA_NHA_CUNG_CAP])
ON UPDATE CASCADE
ON DELETE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PHIEU_NHAP] NOCHECK CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_NHA_CUNG_CAP] FOREIGN KEY([MA_NHA_CUNG_CAP])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MA_NHA_CUNG_CAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[VAI_TRO_NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_VAI_TRO_NGUOI_DUNG_NGUOI_DUNG] FOREIGN KEY([MA_NGUOI_DUNG])
REFERENCES [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VAI_TRO_NGUOI_DUNG] CHECK CONSTRAINT [FK_VAI_TRO_NGUOI_DUNG_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[VAI_TRO_NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_VAI_TRO_NGUOI_DUNG_VAI_TRO] FOREIGN KEY([MA_VAI_TRO])
REFERENCES [dbo].[VAI_TRO] ([MA_VAI_TRO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VAI_TRO_NGUOI_DUNG] CHECK CONSTRAINT [FK_VAI_TRO_NGUOI_DUNG_VAI_TRO]
GO
/****** Object:  StoredProcedure [dbo].[Delelte_CTSP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Delelte_CTSP]
@MASPC varchar(15), @MACTC varchar(15),@MANV varchar(15)
as 
begin

DECLARE @NDC nvarchar(max);
SET @NDC = (SELECT CONCAT(MA_SAN_PHAM +' - ',MA_CHI_TIET+'  -  ',CHI_TIET_VALUES ) FROM CHI_TIET_SAN_PHAM  where MA_SAN_PHAM =@MASPC and MA_CHI_TIET=@MACTC)
insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'xóa','CHI_TIET_SAN_PHAM',@NDC,' ',@MANV,GETDATE())

delete CHI_TIET_SAN_PHAM where MA_SAN_PHAM=@MASPC and MA_CHI_TIET=@MACTC
end
GO
/****** Object:  StoredProcedure [dbo].[DELETE_CT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DELETE_CT]
@MACTC varchar(15),@MANV varchar(15)
as begin

DECLARE @NDC nvarchar(max);
SET @NDC = 
(SELECT CONCAT(MA_CHI_TIET +' - ',TEN_CHI_TIET+' - ') FROM CHI_TIET  where MA_CHI_TIET=@MACTC)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'xóa','CHI_TIET',@NDC,'  ',@MANV,GETDATE())

delete CHI_TIET where MA_CHI_TIET=@MACTC
end
GO
/****** Object:  StoredProcedure [dbo].[DELETE_KHACH_HANG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DELETE_KHACH_HANG]
@MAKHC varchar(15),@MANV varchar(15)
as begin

DECLARE @NDC nvarchar(max);
SET @NDC = 
(SELECT CONCAT(MA_KHACH_HANG +'  ',HO_TEN+'  ',SDT+' ',DIA_CHI) FROM KHACH_HANG  where MA_KHACH_HANG=@MAKHC)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'xóa','KHACH_HANG',@NDC,'  ',@MANV,GETDATE())

delete KHACH_HANG where MA_KHACH_HANG=@MAKHC
end
GO
/****** Object:  StoredProcedure [dbo].[DELETE_NHA_CUNG_CAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DELETE_NHA_CUNG_CAP]
@MANCCC varchar(15),@MANV varchar(15)
as begin

DECLARE @NDC nvarchar(max);
SET @NDC = 
(SELECT CONCAT(MA_NHA_CUNG_CAP +'  ',TEN_NHA_CUNG_CAP+'  ') FROM NHA_CUNG_CAP  where MA_NHA_CUNG_CAP=@MANCCC)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'xóa','NHA_CUNG_CAP',@NDC,'  ',@MANV,GETDATE())

delete NHA_CUNG_CAP where MA_NHA_CUNG_CAP=@MANCCC

end
GO
/****** Object:  StoredProcedure [dbo].[DELETE_SP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DELETE_SP] @MASP varchar(15), @MANV varchar(15)
as begin

DECLARE @NDC nvarchar(max);
SET @NDC = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',TEN_SAN_PHAM+'  |  ',CAST(GIA_NHAP as varchar)+'  |  ',CAST(GIA_NIEM_YET as varchar)+' | ',CAST(SO_LUONG as varchar)+'  |  ',MA_NHA_CUNG_CAP) 
FROM SAN_PHAM  where MA_SAN_PHAM =@MASP)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'xóa','SAN_PHAM',@NDC,' ',@MANV,GETDATE())



delete SAN_PHAM where MA_SAN_PHAM=@MASP
end
GO
/****** Object:  StoredProcedure [dbo].[FindHoaDon]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FindHoaDon]
@StringSeach nvarchar(250)
as 
begin
   declare search cursor for  SELECT MA_HOA_DON, CONCAT(MA_HOA_DON +'   ',CAST(NGAY_LAP as varchar)+'   ',MA_KHACH_HANG+' ',MA_NHAN_VIEN_KINH_DOANH+'  ',MA_NHAN_VIEN_KE_TOAN) 
		   FROM HOA_DON	
   open search
   declare @chuoiCha nvarchar(350)
   declare @MAHD varchar(15)
   declare @result int
fetch next from search  into @MAHD , @chuoiCha
while @@FETCH_STATUS=0
  begin
   set @result=( select CHARINDEX(@StringSeach ,@chuoiCha,1) )
	   begin
	      if(@result!=0)
		     begin
			      select * into view_HOADON from HOA_DON where MA_HOA_DON = @MAHD
			 end
	   end
   end
   fetch next from search  into @MAHD , @chuoiCha

 CLOSE search
 deallocate search
 end
GO
/****** Object:  StoredProcedure [dbo].[IDU_CHI_TIET_HOA_DON]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[IDU_CHI_TIET_HOA_DON]
@action varchar(15),@MAHD varchar(15), @MASPC varchar(15),@MASPM varchar(15), @SL VARCHAR(15),@GIABAN VARCHAR(15),@MANV VARCHAR(15)
as 
begin

    IF(@action='INSERT')
	    begin
		   INSERT INTO CHI_TIET_HOA_DON(MA_HOA_DON,MA_SAN_PHAM,SO_LUONG,GIA_BAN)  values(@MAHD,@MASPM,@SL,@GIABAN)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_HOA_DON+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15))+' | ',CAST(GIA_BAN AS VARCHAR(15))) 
		   FROM CHI_TIET_HOA_DON where MA_HOA_DON =@MAHD and MA_SAN_PHAM=@MASPM)

		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','CHI_TIET_HOA_DON',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDC_D nvarchar(max);
			   SET @NDC_D = (SELECT CONCAT(MA_HOA_DON+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15))+' | ',CAST(GIA_BAN AS VARCHAR(15))) 
		   FROM CHI_TIET_HOA_DON where MA_HOA_DON =@MAHD and MA_SAN_PHAM=@MASPC)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','CHI_TIET_HOA_DON',@NDC_D,' ',@MANV,GETDATE())
			   --
			   delete CHI_TIET_HOA_DON where MA_HOA_DON =@MAHD and MA_SAN_PHAM=@MASPC
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_HOA_DON+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15))+' | ',CAST(GIA_BAN AS VARCHAR(15))) 
		   FROM CHI_TIET_HOA_DON where MA_HOA_DON =@MAHD and MA_SAN_PHAM=@MASPC)
			   --
			    update CHI_TIET_HOA_DON set MA_HOA_DON=@MAHD, MA_SAN_PHAM=@MASPM,SO_LUONG=@SL,GIA_BAN=@GIABAN where MA_HOA_DON=@MAHD AND MA_SAN_PHAM=@MASPC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_HOA_DON+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15))+' | ',CAST(GIA_BAN AS VARCHAR(15))) 
		   FROM CHI_TIET_HOA_DON where MA_HOA_DON =@MAHD and MA_SAN_PHAM=@MASPM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','CHI_TIET_HOA_DON',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[IDU_CHI_TIET_PHIEU_XUAT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[IDU_CHI_TIET_PHIEU_XUAT]
@action varchar(15),@MAPX varchar(15), @MASPC varchar(15),@MASPM varchar(15), @SL INT,@MANV VARCHAR(15)
as 
begin

    IF(@action='INSERT')
	    begin
		   INSERT INTO CHI_TIET_PHIEU_XUAT(MA_PHIEU_XUAT,MA_SAN_PHAM,SO_LUONG)  values(@MAPX,@MASPM,@SL)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_PHIEU_XUAT+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15)))
		   FROM CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT =@MAPX and MA_SAN_PHAM=@MASPM)
		   --
		   update SAN_PHAM SET SO_LUONG=SO_LUONG-@SL WHERE MA_SAN_PHAM=@MASPM
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','CHI_TIET_PHIEU_XUAT',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDC_D nvarchar(max);
			   SET @NDC_D = (SELECT CONCAT(MA_PHIEU_XUAT+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15)))
		   FROM CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT =@MAPX and MA_SAN_PHAM=@MASPC)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','CHI_TIET_PHIEU_XUAT',@NDC_D,' ',@MANV,GETDATE())
			   --
			   declare @SLC_D INT
				SELECT @SLC_D=SO_LUONG FROM CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT=@MAPX AND MA_SAN_PHAM=@MASPC
			   update SAN_PHAM SET SO_LUONG=SO_LUONG+@SLC_D WHERE MA_SAN_PHAM=@MASPC
			   --
			   delete CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT =@MAPX and MA_SAN_PHAM=@MASPC
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_PHIEU_XUAT+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15)))
		   FROM CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT =@MAPX and MA_SAN_PHAM=@MASPC)
			   --
			    declare @SLC INT
				SELECT @SLC=SO_LUONG FROM CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT=@MAPX AND MA_SAN_PHAM=@MASPC
				update SAN_PHAM SET SO_LUONG=SO_LUONG+@SLC WHERE MA_SAN_PHAM=@MASPC
			   --
			    update CHI_TIET_PHIEU_XUAT set MA_PHIEU_XUAT=@MAPX, MA_SAN_PHAM=@MASPM,SO_LUONG=@SL where MA_PHIEU_XUAT=@MAPX AND MA_SAN_PHAM=@MASPC
				--
				 update SAN_PHAM SET SO_LUONG=SO_LUONG-@SL WHERE MA_SAN_PHAM=@MASPC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_PHIEU_XUAT+'  | ',MA_SAN_PHAM+' | ',CAST(SO_LUONG AS VARCHAR(15)))
		   FROM CHI_TIET_PHIEU_XUAT where MA_PHIEU_XUAT =@MAPX and MA_SAN_PHAM=@MASPM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','CHI_TIET_PHIEU_XUAT',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END


GO
/****** Object:  StoredProcedure [dbo].[IDU_HOA_DON]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[IDU_HOA_DON]
@action varchar(15),@MAHDC varchar(15), @MAHDM varchar(15), @TIME DATETIME, @MAKH varchar(15), @MANVKD VARCHAR(15),@MANVKT VARCHAR(15),@MANV VARCHAR(15)
as 
begin
    IF(@action='INSERT')
	    begin
		   INSERT INTO HOA_DON (MA_HOA_DON,NGAY_LAP,MA_KHACH_HANG,MA_NHAN_VIEN_KINH_DOANH,MA_NHAN_VIEN_KE_TOAN)  values(@MAHDM,@TIME,@MAKH,@MANVKD,@MANVKT)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_HOA_DON +' |  ',CAST(NGAY_LAP as varchar)+'  | ',MA_KHACH_HANG+' | ',MA_NHAN_VIEN_KINH_DOANH+' | ',MA_NHAN_VIEN_KE_TOAN) 
		   FROM HOA_DON	where MA_HOA_DON =@MAHDM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','HOA_DON',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDM_D nvarchar(max);
			   SET @NDM_D = (SELECT CONCAT(MA_HOA_DON +' |  ',CAST(NGAY_LAP as varchar)+'  | ',MA_KHACH_HANG+' | ',MA_NHAN_VIEN_KINH_DOANH+' | ',MA_NHAN_VIEN_KE_TOAN+' | ',CAST(TONG_TIEN as varchar)) 
			   FROM HOA_DON	where MA_HOA_DON =@MAHDM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','HOA_DON',@NDM_D,' ',@MANV,GETDATE())
			   --
			   DELETE CHI_TIET_HOA_DON where MA_HOA_DON=@MAHDM
			   delete HOA_DON where MA_HOA_DON=@MAHDM
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_HOA_DON +' |  ',CAST(NGAY_LAP as varchar)+'  | ',MA_KHACH_HANG+' | ',MA_NHAN_VIEN_KINH_DOANH+' | ',MA_NHAN_VIEN_KE_TOAN+' | ',CAST(TONG_TIEN as varchar)) 
		   FROM HOA_DON	where MA_HOA_DON =@MAHDC)
			   --
			    update HOA_DON set MA_HOA_DON=@MAHDM, NGAY_LAP=@TIME,MA_KHACH_HANG=@MAKH,MA_NHAN_VIEN_KINH_DOANH=@MANVKD where MA_HOA_DON=@MAHDC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_HOA_DON +' |  ',CAST(NGAY_LAP as varchar)+'  | ',MA_KHACH_HANG+' | ',MA_NHAN_VIEN_KINH_DOANH+' | ',MA_NHAN_VIEN_KE_TOAN+' | ',CAST(TONG_TIEN as varchar)) 
			   FROM HOA_DON	where MA_HOA_DON =@MAHDM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','HOA_DON',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END

GO
/****** Object:  StoredProcedure [dbo].[IDU_PHIEU_XUAT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[IDU_PHIEU_XUAT]
@action varchar(15),@MAPXC varchar(15), @MAPXM varchar(15), @TIME DATETIME,  @MANVK VARCHAR(15),@MANVKD VARCHAR(15),@MANV VARCHAR(15)
as 
begin
    IF(@action='INSERT')
	    begin
		   INSERT INTO PHIEU_XUAT(MA_PHIEU_XUAT,NGAY_XUAT,MA_NHAN_VIEN_KHO,MA_NHAN_VIEN_KINH_DOANH)  values(@MAPXM,@TIME,@MANVK,@MANVKD)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_PHIEU_XUAT +'  |  ',CAST(NGAY_XUAT as varchar)+'  |  ',MA_NHAN_VIEN_KHO+' | ',MA_NHAN_VIEN_KINH_DOANH) 
		   FROM PHIEU_XUAT	where MA_PHIEU_XUAT =@MAPXM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','PHIEU_XUAT',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDC_D nvarchar(max);
			   SET @NDC_D = (SELECT CONCAT(MA_PHIEU_XUAT +'  |  ',CAST(NGAY_XUAT as varchar)+'  |  ',MA_NHAN_VIEN_KHO+' | ',MA_NHAN_VIEN_KINH_DOANH) 
		   FROM PHIEU_XUAT	where MA_PHIEU_XUAT =@MAPXC)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','PHIEU_XUAT',@NDC_D,' ',@MANV,GETDATE())
			   --
			   delete PHIEU_XUAT where MA_PHIEU_XUAT=@MAPXC
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_PHIEU_XUAT +'  |  ',CAST(NGAY_XUAT as varchar)+'  |  ',MA_NHAN_VIEN_KHO+' | ',MA_NHAN_VIEN_KINH_DOANH) 
		   FROM PHIEU_XUAT	where MA_PHIEU_XUAT =@MAPXC)
			   --
			    update PHIEU_XUAT set MA_PHIEU_XUAT=@MAPXM,NGAY_XUAT=@TIME,MA_NHAN_VIEN_KHO=@MANVK,MA_NHAN_VIEN_KINH_DOANH=@MANVKD where MA_PHIEU_XUAT=@MAPXC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_PHIEU_XUAT +'  |  ',CAST(NGAY_XUAT as varchar)+'  |  ',MA_NHAN_VIEN_KHO+' | ',MA_NHAN_VIEN_KINH_DOANH) 
		   FROM PHIEU_XUAT	where MA_PHIEU_XUAT =@MAPXM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','PHIEU_XUAT',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END

SELECT * FROM CHANGE
GO
/****** Object:  StoredProcedure [dbo].[IDU_VAI_TRO]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[IDU_VAI_TRO]
@action varchar(15), @MAVTC varchar(15), @MAVTM varchar(15),@TENVT nvarchar(30),@MANV VARCHAR(15)
as 
begin
    IF(@action='INSERT')
	    begin
		   INSERT INTO VAI_TRO(MA_VAI_TRO,TEN_VAI_TRO)values(@MAVTM,@TENVT)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_VAI_TRO +' |  ',TEN_VAI_TRO) 
		   FROM VAI_TRO	where MA_VAI_TRO =@MAVTM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','VAI_TRO',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDM_D nvarchar(max);
			   SET @NDM_D = (SELECT CONCAT(MA_VAI_TRO +' |  ',TEN_VAI_TRO) 
		   FROM VAI_TRO	where MA_VAI_TRO =@MAVTC)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','VAI_TRO',@NDM_D,' ',@MANV,GETDATE())
			   --
			   DELETE VAI_TRO where MA_VAI_TRO =@MAVTC
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_VAI_TRO +' |  ',TEN_VAI_TRO) 
		   FROM VAI_TRO	where MA_VAI_TRO =@MAVTC)
			   --
			    update VAI_TRO set MA_VAI_TRO=@MAVTM,TEN_VAI_TRO=@TENVT where MA_VAI_TRO=@MAVTC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_VAI_TRO +' |  ',TEN_VAI_TRO) 
		   FROM VAI_TRO	where MA_VAI_TRO =@MAVTM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','VAI_TRO',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END

GO
/****** Object:  StoredProcedure [dbo].[IDU_VAI_TRO_CHUC_NANG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[IDU_VAI_TRO_CHUC_NANG]
@action varchar(15),@MAVT varchar(15), @MACNM varchar(15), @MACNC varchar(15),@MANV VARCHAR(15)
as 
begin
    IF(@action='INSERT')
	    begin
		   INSERT INTO CHUC_NANG_VAI_TRO(MA_VAI_TRO,MA_CHUC_NANG)values(@MAVT,@MACNM)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_CHUC_NANG) 
		   FROM CHUC_NANG_VAI_TRO	where MA_VAI_TRO =@MAVT AND MA_CHUC_NANG=@MACNM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','CHUC_NANG_VAI_TRO',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDM_D nvarchar(max);
			   SET @NDM_D = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_CHUC_NANG) 
		   FROM CHUC_NANG_VAI_TRO	where MA_VAI_TRO =@MAVT AND MA_CHUC_NANG=@MACNC)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','CHUC_NANG_VAI_TRO',@NDM_D,' ',@MANV,GETDATE())
			   --
			   DELETE CHUC_NANG_VAI_TRO where MA_VAI_TRO =@MAVT AND MA_CHUC_NANG=@MACNC
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_CHUC_NANG) 
		   FROM CHUC_NANG_VAI_TRO where MA_VAI_TRO =@MAVT AND MA_CHUC_NANG=@MACNC)
			   --
			    update CHUC_NANG_VAI_TRO set MA_CHUC_NANG=@MACNM where MA_VAI_TRO=@MAVT AND MA_CHUC_NANG=@MACNC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_CHUC_NANG) 
		   FROM CHUC_NANG_VAI_TRO where MA_VAI_TRO =@MAVT AND MA_CHUC_NANG=@MACNM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','CHUC_NANG_VAI_TRO',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END

GO
/****** Object:  StoredProcedure [dbo].[IDU_VAI_TRO_NGUOI_DUNG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[IDU_VAI_TRO_NGUOI_DUNG]
@action varchar(15),@MAND varchar(15), @MAVTC varchar(15), @MAVTM varchar(15),@MANV VARCHAR(15)
as 
begin
    IF(@action='INSERT')
	    begin
		   INSERT INTO VAI_TRO_NGUOI_DUNG(MA_VAI_TRO,MA_NGUOI_DUNG)values(@MAVTM,@MAND)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_NGUOI_DUNG) 
		   FROM VAI_TRO_NGUOI_DUNG	where MA_NGUOI_DUNG =@MAND AND MA_VAI_TRO=@MAVTM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','VAI_TRO_NGUOI_DUNG',' ',@NDM,@MANV,GETDATE())
		end
	if(@action='DELETE')
	    begin
				DECLARE @NDM_D nvarchar(max);
			   SET @NDM_D = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_NGUOI_DUNG) 
		   FROM VAI_TRO_NGUOI_DUNG	where MA_NGUOI_DUNG =@MAND AND MA_VAI_TRO=@MAVTC)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','VAI_TRO_NGUOI_DUNG',@NDM_D,' ',@MANV,GETDATE())
			   --
			   DELETE VAI_TRO_NGUOI_DUNG where MA_NGUOI_DUNG =@MAND AND MA_VAI_TRO=@MAVTC
		  end
	  	if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_NGUOI_DUNG) 
		   FROM VAI_TRO_NGUOI_DUNG	where MA_NGUOI_DUNG =@MAND AND MA_VAI_TRO=@MAVTC)
			   --
			    update VAI_TRO_NGUOI_DUNG set MA_VAI_TRO=@MAVTM where MA_VAI_TRO=@MAVTC AND MA_NGUOI_DUNG=@MAND
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_VAI_TRO +' |  ',MA_NGUOI_DUNG) 
		   FROM VAI_TRO_NGUOI_DUNG	where MA_NGUOI_DUNG =@MAND AND MA_VAI_TRO=@MAVTM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','VAI_TRO_NGUOI_DUNG',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_CT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_CT]
@MACTM varchar(15), @TENCT nvarchar(300),@MANV varchar(15)
as begin
insert into CHI_TIET (MA_CHI_TIET,TEN_CHI_TIET) values (@MACTM,@TENCT);

DECLARE @NDM nvarchar(max);
SET @NDM = 
(SELECT CONCAT(MA_CHI_TIET +'  |  ',TEN_CHI_TIET+'  |  ') FROM CHI_TIET  where MA_CHI_TIET=@MACTM)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'thêm','CHI_TIET',' ',@NDM,@MANV,GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CTSP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[INSERT_CTSP]
@MASPM VARCHAR(15), @MACTM varchar(15) ,@VALUE nvarchar(15),@MANV varchar(15)
as 
begin
insert into CHI_TIET_SAN_PHAM (MA_SAN_PHAM,MA_CHI_TIET,CHI_TIET_VALUES) values (@MASPM,@MACTM,@VALUE)

DECLARE @NDM nvarchar(max);
SET @NDM = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',MA_CHI_TIET+'  |  ',CHI_TIET_VALUES ) FROM CHI_TIET_SAN_PHAM  where MA_SAN_PHAM =@MASPM and MA_CHI_TIET=@MACTM)
insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'thêm','CHI_TIET_SAN_PHAM',' ',@NDM,@MANV,GETDATE())
end


GO
/****** Object:  StoredProcedure [dbo].[INSERT_KHACH_HANG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[INSERT_KHACH_HANG]
@MAKHM VARCHAR(15),@TENKH nvarchar(350), @SDT VARCHAR(15), @DIACHI nvarchar(250),@MANV varchar(15)
AS
BEGIN
insert into KHACH_HANG(MA_KHACH_HANG,HO_TEN,SDT,DIA_CHI) values(@MAKHM,@TENKH,@SDT,@DIACHI)

DECLARE @NDM nvarchar(max);
SET @NDM = (SELECT CONCAT(MA_KHACH_HANG +'   ',HO_TEN+'    ',SDT+'  ',DIA_CHI+' ') 
FROM KHACH_HANG  where MA_KHACH_HANG =@MAKHM)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'thêm','KHACH_HANG',' ',@NDM,@MANV,GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[INSERT_NCC]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[INSERT_NCC] 
@MANCCM VARCHAR(15), @TENNCC NVARCHAR(150),@MANV VARCHAR(15)
AS
BEGIN
insert into NHA_CUNG_CAP(MA_NHA_CUNG_CAP,TEN_NHA_CUNG_CAP) values (@MANCCM,@TENNCC);
DECLARE @variable_name nvarchar(max);
SET @variable_name = 
(SELECT CONCAT(MA_NHA_CUNG_CAP +'  |  ',TEN_NHA_CUNG_CAP+'  |  ') FROM NHA_CUNG_CAP inserted where MA_NHA_CUNG_CAP=@MANCCM)
insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'thêm','NHA_CUNG_CAP',' ',@variable_name,@MANV,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_SP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[INSERT_SP]
@MASPM VARCHAR(15),@TENSP nvarchar(350), @GIANHAP INT, @GIANY INT, @SL INT, @MANCC VARCHAR(15),@MANV varchar(15)
AS
BEGIN
insert into SAN_PHAM (MA_SAN_PHAM,TEN_SAN_PHAM,GIA_NHAP,GIA_NIEM_YET,SO_LUONG,MA_NHA_CUNG_CAP) values(@MASPM,@TENSP,@GIANHAP,@GIANY,@SL,@MANCC)

DECLARE @NDM nvarchar(max);
SET @NDM = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',TEN_SAN_PHAM+'  |  ',CAST(GIA_NHAP as varchar)+'  |  ',CAST(GIA_NIEM_YET as varchar)+'  |  ',CAST(SO_LUONG as varchar)+'  |  ',MA_NHA_CUNG_CAP) 
FROM SAN_PHAM inserted  where MA_SAN_PHAM =@MASPM)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'thêm','SAN_PHAM',' ',@NDM,@MANV,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[IUD_CTPN]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[IUD_CTPN]
@action varchar(15),@MACTPNC varchar(15),@MACTPNM varchar(15),@MAPN VARCHAR(15), @MASP VARCHAR(15), @SL INT ,@DONGIA INT, @MANV varchar(15)
as 
begin
  if(@action='INSERT')
     begin
	      INSERT INTO CHI_TIET_PHIEU_NHAP(MA_CHI_TIET_PHIEU_NHAP,MA_PHIEU_NHAP,MA_SAN_PHAM,SO_LUONG,DON_GIA_NHAP) values(@MACTPNM,@MAPN,@MASP,@SL,@DONGIA)
		  --
		  DECLARE @NDM_I nvarchar(max);
           SET @NDM_I = (SELECT CONCAT(MA_CHI_TIET_PHIEU_NHAP +' |  ',MA_PHIEU_NHAP +' |  ',MA_SAN_PHAM +' |  ',CAST(SO_LUONG as varchar)+'  | ',CAST(DON_GIA_NHAP as varchar))
           FROM CHI_TIET_PHIEU_NHAP	where MA_CHI_TIET_PHIEU_NHAP =@MACTPNM)
		   --
		    insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','CHI_TIET_PHIEU_NHAP',' ',@NDM_I,@MANV,GETDATE())
	 end
   if(@action='DELETE')
      begin
	       DECLARE @NDC_D nvarchar(max);
           SET @NDC_D = (SELECT CONCAT(MA_CHI_TIET_PHIEU_NHAP +' |  ',MA_PHIEU_NHAP +' |  ',MA_SAN_PHAM +' |  ',CAST(SO_LUONG as varchar)+'  | ',CAST(DON_GIA_NHAP as varchar))
           FROM CHI_TIET_PHIEU_NHAP	where MA_CHI_TIET_PHIEU_NHAP =@MACTPNC)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','PHIEU_NHAP',@NDC_D,' ',@MANV,GETDATE())
		--
		   delete CHI_TIET_PHIEU_NHAP WHERE MA_CHI_TIET_PHIEU_NHAP= @MACTPNC
	  end

	  if(@action='UPDATE')
	      begin
		    DECLARE @NDC_U nvarchar(max);
           SET @NDC_U = (SELECT CONCAT(MA_CHI_TIET_PHIEU_NHAP +' |  ',MA_PHIEU_NHAP +' |  ',MA_SAN_PHAM +' |  ',CAST(SO_LUONG as varchar)+'  | ',CAST(DON_GIA_NHAP as varchar))
           FROM CHI_TIET_PHIEU_NHAP	where MA_CHI_TIET_PHIEU_NHAP =@MACTPNC)
		   --
		   update CHI_TIET_PHIEU_NHAP set MA_CHI_TIET_PHIEU_NHAP=@MACTPNM,MA_PHIEU_NHAP=@MAPN,MA_SAN_PHAM=@MASP,SO_LUONG=@SL,DON_GIA_NHAP=@DONGIA where MA_CHI_TIET_PHIEU_NHAP=@MACTPNC
		   --
		    DECLARE @NDM_U nvarchar(max);
           SET @NDM_U = (SELECT CONCAT(MA_CHI_TIET_PHIEU_NHAP +' |  ',MA_PHIEU_NHAP +' |  ',MA_SAN_PHAM +' |  ',CAST(SO_LUONG as varchar)+'  | ',CAST(DON_GIA_NHAP as varchar))
           FROM CHI_TIET_PHIEU_NHAP	where MA_CHI_TIET_PHIEU_NHAP =@MACTPNM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','PHIEU_NHAP',@NDC_U,@NDM_U,@MANV,GETDATE())
		  end
end
GO
/****** Object:  StoredProcedure [dbo].[IUD_NGUOI_DUNG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[IUD_NGUOI_DUNG]
@action varchar(15),@MANDC varchar(15),@MANDM varchar(15), @HOTEN NVARCHAR(215) ,@MK VARCHAR(32), @MANV varchar(15)
as 
begin
  if(@action='INSERT')
     begin
	      INSERT INTO NGUOI_DUNG(MA_NGUOI_DUNG,TEN_NGUOI_DUNG,MAT_KHAU) values(@MANDM,@HOTEN,@MK)
		  --
		  DECLARE @NDM_I nvarchar(max);
           SET @NDM_I = (SELECT CONCAT(MA_NGUOI_DUNG +' |  ',TEN_NGUOI_DUNG +' |  ',MAT_KHAU +' |  ')
           FROM NGUOI_DUNG	where MA_NGUOI_DUNG =@MANDM)
		   --
		    insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','NGUOI_DUNG',' ',@NDM_I,@MANV,GETDATE())
		   --
	 end
   if(@action='DELETE')
      begin
	       DECLARE @NDC_D nvarchar(max);
           SET @NDC_D = (SELECT CONCAT(MA_NGUOI_DUNG +' |  ',TEN_NGUOI_DUNG +' |  ',MAT_KHAU +' |  ')
           FROM NGUOI_DUNG	where MA_NGUOI_DUNG =@MANDC)
		   --
		     insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','NGUOI_DUNG',@NDC_D,' ',@MANV,GETDATE())
			   --
		--
		 delete NGUOI_DUNG WHERE MA_NGUOI_DUNG= @MANDC		    
	  end

	  if(@action='UPDATE')
	      begin
		    DECLARE @NDC_U nvarchar(max);
           SET @NDC_U = (SELECT CONCAT(MA_NGUOI_DUNG +' |  ',TEN_NGUOI_DUNG +' |  ',MAT_KHAU)
           FROM NGUOI_DUNG	where MA_NGUOI_DUNG =@MANDC)
		   --
		   update NGUOI_DUNG set MA_NGUOI_DUNG=@MANDM,TEN_NGUOI_DUNG=@HOTEN,MAT_KHAU=@MK where MA_NGUOI_DUNG=@MANDC
		  
		   --
		    DECLARE @NDM_U nvarchar(max);
           SET @NDM_U = (SELECT CONCAT(MA_NGUOI_DUNG +' |  ',TEN_NGUOI_DUNG +' |  ',MAT_KHAU)
           FROM NGUOI_DUNG	where MA_NGUOI_DUNG =@MANDM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
              values(N'sửa','NGUOI_DUNG',@NDC_U,@NDM_U,@MANV,GETDATE())
			   --

		  end
end

GO
/****** Object:  StoredProcedure [dbo].[PRIN_PHIEU_NHAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PRIN_PHIEU_NHAP] @mapn varchar(15), @manvk varchar(15)
as 
begin
   select ROW_NUMBER() OVER (ORDER BY ctpn.MA_PHIEU_NHAP) as 'STT' ,pn.MA_PHIEU_NHAP,CAST(pn.NGAY_NHAP as varchar) as'NGAY_LAP',nd.TEN_NGUOI_DUNG,nd.MA_NGUOI_DUNG,ncc.MA_NHA_CUNG_CAP,ncc.TEN_NHA_CUNG_CAP,sp.MA_SAN_PHAM,sp.TEN_SAN_PHAM,sp.GIA_NHAP,ctpn.SO_LUONG
   from CHI_TIET_PHIEU_NHAP as ctpn 
   join PHIEU_NHAP as pn on ctpn.MA_PHIEU_NHAP=pn.MA_PHIEU_NHAP 
   join NGUOI_DUNG as nd on pn.MA_NHAN_VIEN_KHO=nd.MA_NGUOI_DUNG 
   join NHA_CUNG_CAP as ncc on pn.MA_NHA_CUNG_CAP= ncc.MA_NHA_CUNG_CAP 
   join SAN_PHAM as sp on ctpn.MA_SAN_PHAM=sp.MA_SAN_PHAM 
   where pn.MA_PHIEU_NHAP=@mapn and pn.MA_NHAN_VIEN_KHO=@manvk
end
GO
/****** Object:  StoredProcedure [dbo].[PRINT_PHIEU_XUAT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PRINT_PHIEU_XUAT] @MAPX varchar(15),@MANVK varchar(15),@MANVKD varchar(15)
as 
begin
   select ROW_NUMBER() OVER (ORDER BY px.MA_PHIEU_XUAT ) as 'STT',sp.MA_SAN_PHAM,sp.TEN_SAN_PHAM,ctnpx.SO_LUONG,px.NGAY_XUAT,nd.MA_NGUOI_DUNG as 'MANVKD',nd.TEN_NGUOI_DUNG as 'TNVKD',nd1.MA_NGUOI_DUNG AS 'MANVK',nd1.TEN_NGUOI_DUNG AS 'TNVK'
   from CHI_TIET_PHIEU_XUAT as ctnpx join PHIEU_XUAT AS px on ctnpx.MA_PHIEU_XUAT=px.MA_PHIEU_XUAT join SAN_PHAM as sp on ctnpx.MA_SAN_PHAM=sp.MA_SAN_PHAM
   join NGUOI_DUNG as nd on nd.MA_NGUOI_DUNG= px.MA_NHAN_VIEN_KINH_DOANH join NGUOI_DUNG as nd1 on nd1.MA_NGUOI_DUNG= px.MA_NHAN_VIEN_KHO
where px.MA_PHIEU_XUAT=@MAPX and px.MA_NHAN_VIEN_KHO=@MANVK and px.MA_NHAN_VIEN_KINH_DOANH=@MANVKD
end
GO
/****** Object:  StoredProcedure [dbo].[SELEC_VAI_TRO]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SELEC_VAI_TRO]
 @mand varchar(15)
 as 
begin
  declare @mavt varchar(15)
		 select @mavt=vt.MA_VAI_TRO
		 from NGUOI_DUNG as nd join VAI_TRO_NGUOI_DUNG as vtnd on nd.MA_NGUOI_DUNG=vtnd.MA_NGUOI_DUNG join VAI_TRO as vt on vtnd.MA_VAI_TRO=vt.MA_VAI_TRO
		 where nd.MA_NGUOI_DUNG=@mand
   if(@mavt='HR')
        begin
		   select * from VAI_TRO where MA_VAI_TRO   in 
				 (select MA_VAI_TRO from VAI_TRO where MA_VAI_TRO!='HR') and MA_VAI_TRO in  (select MA_VAI_TRO from VAI_TRO where MA_VAI_TRO!='DIR')
		end
		         

	else
	    begin
		     select * from VAI_TRO
		end
end
GO
/****** Object:  StoredProcedure [dbo].[select_HD]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[select_HD] @mahd varchar(15),@manv varchar(15)
AS 
BEGIN
    select ROW_NUMBER() OVER (ORDER BY cthd.MA_HOA_DON) as 'STT' , cthd.MA_HOA_DON,cast(hd.NGAY_LAP as varchar),kh.HO_TEN ,kh.DIA_CHI,nd.TEN_NGUOI_DUNG,
 kh.SDT,sp.TEN_SAN_PHAM, cthd.SO_LUONG,cthd.GIA_BAN, (cthd.SO_LUONG*cthd.GIA_BAN) as 'THANH_TIEN' , hd.TONG_TIEN
	froM CHI_TIET_HOA_DON AS cthd join HOA_DON AS hd on cthd.MA_HOA_DON= hd.MA_HOA_DON join SAN_PHAM as sp on cthd.MA_SAN_PHAM= sp.MA_SAN_PHAM
	join KHACH_HANG as kh on hd.MA_KHACH_HANG=kh.MA_KHACH_HANG join NGUOI_DUNG as nd on hd.MA_NHAN_VIEN_KINH_DOANH=nd.MA_NGUOI_DUNG 
	and cthd.MA_HOA_DON= @mahd and nd.MA_NGUOI_DUNG=@manv
end

GO
/****** Object:  StoredProcedure [dbo].[SELECT_NGUOI_DUNG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[SELECT_NGUOI_DUNG]
 @mand varchar(15)
 as 
begin
  declare @mavt varchar(15)
		 select @mavt=vt.MA_VAI_TRO
		 from NGUOI_DUNG as nd join VAI_TRO_NGUOI_DUNG as vtnd on nd.MA_NGUOI_DUNG=vtnd.MA_NGUOI_DUNG join VAI_TRO as vt on vtnd.MA_VAI_TRO=vt.MA_VAI_TRO
		 where nd.MA_NGUOI_DUNG=@mand
   if(@mavt='HR')
        begin
		         select DISTINCT  nd.MA_NGUOI_DUNG,nd.TEN_NGUOI_DUNG,nd.MAT_KHAU
				 from NGUOI_DUNG as nd join VAI_TRO_NGUOI_DUNG as vtnd on nd.MA_NGUOI_DUNG=vtnd.MA_NGUOI_DUNG join VAI_TRO as vt on vtnd.MA_VAI_TRO=vt.MA_VAI_TRO
				 where vt.MA_VAI_TRO   in 
				 (select MA_VAI_TRO from VAI_TRO where MA_VAI_TRO!='HR') and vt.MA_VAI_TRO in  (select MA_VAI_TRO from VAI_TRO where MA_VAI_TRO!='DIR')
		end
	else
	    begin
		     select DISTINCT nd.MA_NGUOI_DUNG,nd.TEN_NGUOI_DUNG,nd.MAT_KHAU
			 from NGUOI_DUNG as nd join VAI_TRO_NGUOI_DUNG as vtnd on nd.MA_NGUOI_DUNG=vtnd.MA_NGUOI_DUNG join VAI_TRO as vt on vtnd.MA_VAI_TRO=vt.MA_VAI_TRO
			 where vt.MA_VAI_TRO   in  (select MA_VAI_TRO from VAI_TRO where MA_VAI_TRO!='DIR')
		end
end
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CT]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UPDATE_CT]
@MACTC varchar(15),@MACTM varchar(15), @TENCT nvarchar(300),@MANV varchar(15)
as begin
DECLARE @NDC nvarchar(max);
SET @NDC = 
(SELECT CONCAT(MA_CHI_TIET +'  |  ',TEN_CHI_TIET+'  |  ') FROM CHI_TIET  where MA_CHI_TIET=@MACTC)

update CHI_TIET  SET MA_CHI_TIET=@MACTM, TEN_CHI_TIET=@TENCT where MA_CHI_TIET=@MACTC

DECLARE @NDM nvarchar(max);
SET @NDM = 
(SELECT CONCAT(MA_CHI_TIET +'  |  ',TEN_CHI_TIET+'  |  ') FROM CHI_TIET  where MA_CHI_TIET=@MACTM)


insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'sửa','CHI_TIET',@NDC,@NDM,@MANV,GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CTSP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UPDATE_CTSP]
@MASP varchar(15), @MACTC varchar(15),@MACTM varchar(15) ,@VALUE nvarchar(250),@MANV varchar(15)
as 
begin
DECLARE @NDC nvarchar(max);
SET @NDC = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',MA_CHI_TIET+'  |  ',CHI_TIET_VALUES ) FROM CHI_TIET_SAN_PHAM  where MA_SAN_PHAM =@MASP and MA_CHI_TIET=@MACTC)

update CHI_TIET_SAN_PHAM set MA_SAN_PHAM=@MASP,MA_CHI_TIET=@MACTM,CHI_TIET_VALUES=@VALUE where MA_SAN_PHAM=@MASP and MA_CHI_TIET=@MACTC

DECLARE @NDM nvarchar(max);
SET @NDM = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',MA_CHI_TIET+'  |  ',CHI_TIET_VALUES ) FROM CHI_TIET_SAN_PHAM  where MA_SAN_PHAM =@MASP and MA_CHI_TIET=@MACTM)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'sửa','CHI_TIET_SAN_PHAM',@NDC,@NDM,@MANV,GETDATE())


end
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_KHACH_HANG]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UPDATE_KHACH_HANG]
@MAKHC varchar(15),@MAKHM VARCHAR(15),@TENKH nvarchar(350), @SDT varchar(15),@DIACHI nvarchar(350),@MANV varchar(15)
AS
BEGIN


DECLARE @NDC nvarchar(max);
SET @NDC = (SELECT CONCAT(MA_KHACH_HANG +'  | ',HO_TEN+' | ',SDT+' | ',DIA_CHI) 
FROM KHACH_HANG  where MA_KHACH_HANG =@MAKHC)

update KHACH_HANG set MA_KHACH_HANG=@MAKHM,HO_TEN=@TENKH,SDT=@SDT,DIA_CHI=@DIACHI where MA_KHACH_HANG=@MAKHC;

DECLARE @NDM nvarchar(max);
SET @NDM = (SELECT CONCAT(MA_KHACH_HANG +'  | ',HO_TEN+' | ',SDT+' | ',DIA_CHI) 
FROM KHACH_HANG  where MA_KHACH_HANG =@MAKHM)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'sửa','KHACH_HANG',@NDC,@NDM,@MANV,GETDATE())

end
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_NHA_CUNG_CAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UPDATE_NHA_CUNG_CAP]
@MANCCC varchar(15),@MANCCM varchar(15), @TENNCC nvarchar(300),@MANV varchar(15)
as begin
DECLARE @NDC nvarchar(max);
SET @NDC = 
(SELECT CONCAT(MA_NHA_CUNG_CAP +' | ',TEN_NHA_CUNG_CAP+' | ') FROM NHA_CUNG_CAP  where MA_NHA_CUNG_CAP=@MANCCC)

update NHA_CUNG_CAP  SET MA_NHA_CUNG_CAP=@MANCCM, TEN_NHA_CUNG_CAP=@TENNCC where MA_NHA_CUNG_CAP=@MANCCC

DECLARE @NDM nvarchar(max);
SET @NDM = 
(SELECT CONCAT(MA_NHA_CUNG_CAP +'  |  ',TEN_NHA_CUNG_CAP+'  |  ') FROM NHA_CUNG_CAP  where MA_NHA_CUNG_CAP=@MANCCM)


insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'sửa','NHA_CUNG_CAP',@NDC,@NDM,@MANV,GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_PHIEU_NHAP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UPDATE_PHIEU_NHAP]
@action varchar(15),@MAPNC varchar(15), @MAPNM varchar(15), @TIME DATETIME, @MANCC varchar(15), @MANVK VARCHAR(15),@MANV VARCHAR(15)
as 
begin
   if(@action='INSERT')
      begin
	       INSERT INTO PHIEU_NHAP  values(@MAPNM,@TIME,@MANCC,@MANVK)
		   --
		   DECLARE @NDM nvarchar(max);
           SET @NDM = (SELECT CONCAT(MA_PHIEU_NHAP +' |  ',CAST(NGAY_NHAP as varchar)+'  | ',MA_NHA_CUNG_CAP+' | ',MA_NHAN_VIEN_KHO) 
           FROM PHIEU_NHAP	where MA_PHIEU_NHAP =@MAPNM)
		   --
		   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
           values(N'thêm','PHIEU_NHAP',' ',@NDM,@MANV,GETDATE())
       end
	 if(@action='DELETE')
	    begin
				 DECLARE @NDM_D nvarchar(max);
			   SET @NDM_D = (SELECT CONCAT(MA_PHIEU_NHAP +' |  ',CAST(NGAY_NHAP as varchar)+'  | ',MA_NHA_CUNG_CAP+' | ',MA_NHAN_VIEN_KHO) 
			   FROM PHIEU_NHAP	where MA_PHIEU_NHAP =@MAPNM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
			   values(N'xóa','PHIEU_NHAP',@NDM_D,' ',@MANV,GETDATE())
			   --
			   delete PHIEU_NHAP where MA_PHIEU_NHAP=@MAPNM
		  end
		if(@action='UPDATE')
		   begin
				DECLARE @NDC_U nvarchar(max);
			   SET @NDC_U = (SELECT CONCAT(MA_PHIEU_NHAP +' |  ',CAST(NGAY_NHAP as varchar)+'  | ',MA_NHA_CUNG_CAP+' | ',MA_NHAN_VIEN_KHO) 
			   FROM PHIEU_NHAP	where MA_PHIEU_NHAP =@MAPNC)
			   --
			    update PHIEU_NHAP set MA_PHIEU_NHAP=@MAPNM, NGAY_NHAP=@TIME,MA_NHA_CUNG_CAP=@MANCC,MA_NHAN_VIEN_KHO=@MANVK where MA_PHIEU_NHAP=@MAPNC
				--
				dECLARE @NDM_U nvarchar(max)
			   SET @NDM_U = (SELECT CONCAT(MA_PHIEU_NHAP +' |  ',CAST(NGAY_NHAP as varchar)+'  | ',MA_NHA_CUNG_CAP+' | ',MA_NHAN_VIEN_KHO) 
			   FROM PHIEU_NHAP	where MA_PHIEU_NHAP =@MAPNM)
			   --
			   insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
               values(N'sửa','PHIEU_NHAP',@NDC_U,@NDM_U,@MANV,GETDATE())
		   end
end
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_SP]    Script Date: 21/06/2023 14:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UPDATE_SP]
@MASPC varchar(15),@MASPM VARCHAR(15),@TENSP nvarchar(350), @GIANHAP INT, @GIANY INT, @SL INT, @MANCC VARCHAR(15),@MANV varchar(15)
AS
BEGIN


DECLARE @NDC nvarchar(max);
SET @NDC = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',TEN_SAN_PHAM+' | ',CAST(GIA_NHAP as varchar)+' | ',CAST(GIA_NIEM_YET as varchar)+' | ',CAST(SO_LUONG as varchar)+' | ',MA_NHA_CUNG_CAP) 
FROM SAN_PHAM   where MA_SAN_PHAM =@MASPC)

update SAN_PHAM set MA_SAN_PHAM=@MASPM,TEN_SAN_PHAM=@TENSP,GIA_NHAP=@GIANHAP,GIA_NIEM_YET=@GIANY,SO_LUONG=@SL,MA_NHA_CUNG_CAP=@MANCC where MA_SAN_PHAM=@MASPC;

DECLARE @NDM nvarchar(max);
SET @NDM = (SELECT CONCAT(MA_SAN_PHAM +'  |  ',TEN_SAN_PHAM+'  |  ',CAST(GIA_NHAP as varchar)+'  |  ',CAST(GIA_NIEM_YET as varchar)+'  |  ',CAST(SO_LUONG as varchar)+'  |  ',MA_NHA_CUNG_CAP) 
FROM SAN_PHAM   where MA_SAN_PHAM =@MASPM)

insert into CHANGE(TEN_THAY_DOI,BANG_THAY_DOI,NOI_DUNG_CU,NOI_DUNG_MOI,MA_NGUOI_DUNG,THOI_GIAN) 
values(N'sửa','SAN_PHAM',@NDC,@NDM,@MANV,GETDATE())


end
GO
USE [master]
GO
